*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family:'Red Hat Display',sans-serif;
    background-image:url("../images/pattern-background-mobile.svg") ;
    background-size: 100%;
    background-repeat:no-repeat;
    background-color: $Pale-blue;
    background-position: top;
}